<div class="collection-image ci">
  <a href="{{ collection.url }}" title="{{ collection_title }}">
    {% if collection.image %}
      {% include "basic-responsive-image", type: collection.image %}
      <noscript>
        <img src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection__image.alt | escape }}" class="collection__image">
      </noscript>
    {% else %}
      {% include "basic-responsive-image", type: collection.products.first.featured_image %}
      <noscript>
        <img src="{{ collection.products.first.featured_image | img_url: '1024x1024' }}" alt="{{ collection.products.first.featured_image.alt | escape }}" class="collection__image">
      </noscript>
    {% endif %}
  </a>
</div>
<div class="product-details">
  <h3><a href="{{ collection.url }}" title="{{ collection_title }}">{{ collection.title }}</a></h3>
</div>
