<div class="ci">
  {% if product.available %}
    {% for col in product.collections %}
      {% if col.handle == 'new' %}
        <div class="new icn">{{ 'products.general.new' | t }}</div>
      {% endif %}
    {% endfor %}

    {% if product.price < product.compare_at_price %}
      <div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
    {% endif %}

  {% else %}
    <div class="so icn">{{ 'products.general.sold' | t }}</div>
  {% endif %}

    {% if product.featured_image %}
      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
        <div class="reveal">
          {% include "basic-responsive-image", type: product.featured_image %}
          <noscript>
            <img src="{{ product.featured_image | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
          </noscript>

          {% if settings.image_flip and product.images.size > 1 %}
            <div class="hidden">
              {% include "basic-responsive-image", type: product.images[1] %}
              <noscript>
                <img src="{{ product.images[1] | img_url: '1024x' }}" alt="{{ product.images[1].alt | escape }}">
              </noscript>
            </div>
          {% endif %}
        </div>
      </a>
    {%- else -%}
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>

  {% if settings.quickview %}
    <div class="product-info">
      <a class="fancybox.ajax product-modal" rel="nofollow" href="{{ product.url }}?view=quick">
        {{ 'products.general.quick_view' | t }}
      </a>
    </div>
  {% endif %}

<div class="product-details">
  <a href="{{ product.url | within: collection }}">
    <h3>{{ product.title }}</h3>
    {% if settings.vendor %}
      <h4>{{ product.vendor }}</h4>
    {% endif %}
  </a>

  <div class="price">
    {% if product.price < product.compare_at_price %}
      <div class="onsale">
        <span class="money">{{ product.price | money | remove: '.00' }}</span>
      </div>
      <div class="was-listing">
        <span class="money">{{ product.compare_at_price | money | remove: '.00' }}</span>
      </div>
    {% else %}
      <div class="prod-price">
        {% if product.price_varies %}
          {{ 'products.general.from' | t }} <span class="money">{{ product.price_min | money | remove: '.00' }}</span> - <span class="money">{{ product.price_max | money | remove: '.00' }}</span>
        {% else %}
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
        {% endif %}
      </div>
    {% endif %}
  </div>

</div>
