<section id="newsletter" class="homepage-newsletter gridlock-fluid">
  <div class="row">
    <div class="section-header row">
      {% if section.settings.heading != blank %}
        <div class="section-title">
          <h2>{{ section.settings.heading | escape }}</h2>
        </div>
      {% endif %}
      {%- if section.settings.newsletter_subheading != blank -%}
        {{ section.settings.newsletter_subheading }}
      {%- endif -%}
    </div>
    <div class="section-newsletter row">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
          <div class="input-group password__input-group">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email"
              name="contact[email]"
              id="Email"
              class="input-group__field newsletter__input"
              value="{% if customer %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              autocorrect="off"
              autocapitalize="off">
              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
          </div>
        {% endif %}
      {% endform %}
    </div>
    <div class="section-icons row">
      {% include "social-icons" %}
    </div>
  </div>
</section>
<style>
  #shopify-section-{{ section.id }} {
    padding-top: 0;
    padding-bottom: 0;
  }
  #newsletter {
      background: {{ section.settings.background_color }};
  }
  section.homepage-newsletter h2 {
    color: {{ section.settings.heading_color }} !important;
    border-color: {{ section.settings.heading_color }} !important;
  }

  section.homepage-newsletter p {
    color: {{ section.settings.subheading_color }} !important;
    font-weight: {{ section.settings.subheading_font_weight }} !important;
    font-size: {{ section.settings.subheading_font_size }}px !important;
    max-width: 60%;
    margin: 0 auto !important;
    line-height: 30px;
    padding-bottom: 20px !important;
  }
  @media screen and (max-width: 500px) {
    section.homepage-newsletter p {
      max-width: 100%;
    }
  }
  section.homepage-newsletter ul#social-icons li a:hover {
    opacity: 0.8;
  }
</style>

{% schema %}
  {
    "name": "Newsletter",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#000000"
      },
      {
        "type": "richtext",
        "id": "newsletter_subheading",
        "label": "Subheading",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "range",
        "id": "subheading_font_size",
        "min": 12,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Subheading font size",
        "default": 16
      },
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Subheading font weight",
        "options": [
          {
            "value": "400",
            "label": "Normal"
          },
          {
            "value": "300",
            "label": "Light"
          },
          {
            "value": "700",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Subheading color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#f7f7f7"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
