<section
class="home index-section homepage-section no-fouc slideshow-section"
data-section-id="{{ section.id }}"
data-section-type="slideshow-section">

{% if section.blocks.size > 0 %}
<!-- Start Flexslider Option -->

  {% case section.settings.slider_speed %}
  {% when 3 %}
    {%- assign slider_speed = 3000 -%}
  {% when 4 %}
    {%- assign slider_speed = 4000 -%}
  {% when 5 %}
    {%- assign slider_speed = 5000 -%}
  {% when 6 %}
    {%- assign slider_speed = 6000 -%}
  {% when 7 %}
    {%- assign slider_speed = 7000 -%}
  {% when 8 %}
    {%- assign slider_speed = 8000 -%}
  {% when 9 %}
    {%- assign slider_speed = 9000 -%}
  {% when 10 %}
    {%- assign slider_speed = 10000 -%}
  {% endcase %}

  <div class="flexslider" id="flexslider--{{ section.id }}" data-speed="{{ slider_speed }}">
    <ul class="slides">
      {% for block in section.blocks %}
        <li id="slide--{{ block.id }}"
          class="slide--{{ block.id }} slide_image lazyload lazyload-fade"
          data-block-id="{{ block.id }}"
          data-flexslider-index="{{ forloop.index0 }}"
          {% unless section.settings.slideshow == 'content' %}
            data-bgset="{% include 'bgset', image: block.settings.image %}"
            data-sizes="auto"
          {% endunless %}
          {{ block.shopify_attributes }}>

          {% unless section.settings.slideshow == 'background' %}
            {% if block.settings.image != blank %}
              {% assign image_box_ratio = block.settings.image.height | append: ".0" | times: 1 | divided_by: block.settings.image.width | times: 100 | append: "%" %}
              {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

              <div class="box-ratio" style="padding-bottom: {{ image_box_ratio }};">
                <a href="{{ block.settings.link }}">
                  <img class="slideshow__image slideshow__image--{{ block.id }} lazyload lazyload-fade"
                  data-src="{{ img_url }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ block.settings.image.alt | escape }}">
                </a>
              </div>

              <noscript>
                <a href="{{ block.settings.link }}">
                  <img src="{{ block.settings.image | img_url: '1024x' }}" alt="{{ block.settings.image.alt | escape }}" class="slideshow__image slideshow__image--{{ block.id }}">
                </a>
              </noscript>
            {% endif %}
          {% endunless %}

          {% if block.settings.image == blank %}
           {% capture current %}{% cycle 1, 2 %}{% endcapture %}
           {%- assign placeholder = 'lifestyle-' | append: current -%}
           <div class="onboard-slide">
             {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
           </div>
          {% endif %}

          <div class="flex-caption slide-{{ block.id }}">
            <div class="caption-inners">
              {% if block.settings.heading != 'blank' %}
                <h2 class="slide-title">
                  {{ block.settings.heading }}
                </h2>
              {% endif %}
              {% if block.settings.subheading != 'blank' %}
                <p class="caption">
                  {{ block.settings.subheading }}
                </p>
              {% endif %}
              {% if block.settings_link != 'blank' %}
                <div class="cta">
                  <a href="{{ block.settings.link }}">
                    {{ block.settings.button_text }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </li>

        <style>
          .slideshow__image--{{ block.id }} {
            object-position: top center;
            font-family: "object-fit: cover; object-position: top center;";
          }
          #shopify-section-{{ section.id }} .index-section {
            padding-top: 0;
            padding-bottom: 0;
          }
          {% if section.settings.slideshow == 'background' %}
            .flexslider {
              width: 100% !important;
              height: 100% !important;
            }
            {% if block.settings.image != blank %}
            .flexslider .slides, .flexslider .slides > li {
              height: 100vh !important;
            }
            {% endif %}
            .flexslider .slides > li {
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center top !important;
            }
            .no-js .slide_image {
              background-image: url('{{ block.settings.image | img_url: '1024x' }}');
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center top !important;
              opacity: 1;
            }
          {% endif %}
          .flex-caption.slide-{{ block.id }} {
            top: {{ block.settings.caption_vertical }}%;
            text-align: {{ block.settings.caption_horizontal }};
          }

          .flex-caption.slide-{{ block.id }} .caption-inners {
            {% assign bg_color = block.settings.caption_background %}
            {% assign number = block.settings.caption_background_opacity %}
            {% assign caption_background_opacity = number | divided_by: 100.0 %}
            {% if block.settings.caption_background == 'rgba(0,0,0,0)' %}
              background: transparent;
            {% else %}
              background: {{ bg_color | color_modify: 'alpha', caption_background_opacity }};
            {% endif %}
            display: inline-block;
            padding: 10px 20px;
          }

          .flex-caption.slide-{{ block.id }} h2.slide-title {
            color: {{ block.settings.slide_text_color }};
          }
          .flex-caption.slide-{{ block.id }} p {
            color: {{ block.settings.slide_text_color }};
          }
          .flex-caption.slide-{{ block.id }} .cta a {
            color: {{ block.settings.cta_color }};
            background: {{ block.settings.cta_background }};
          }
          #flexslider--{{ section.id }} .flex-caption .cta a {
            font-size: {{ section.settings.cta_size }}px;
            font-weight: {{ section.settings.cta_weight }};
          }
          #flexslider--{{ section.id }} .flex-caption h2.slide-title {
            font-size: {{ section.settings.slide_heading_size }}px;
            font-family: {{ section.settings.headings_font }};
            font-weight:{{ section.settings.slide_heading_weight }};
          }
          #flexslider--{{ section.id }} .flex-caption p {
            font-size: {{ section.settings.subheading_size }}px;
          }
          .no-js .slide_image {
            opacity: 1;
          }
        </style>
      {% endfor %}
    </ul>
  </div>
{% endif %}

</section>
<div class="clear"></div>


{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Caption Settings"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Add a title to your image"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Tell your brand's story through images"
        },
        {
          "type": "color",
          "id": "slide_text_color",
          "label": "Heading and subheading",
          "default": "#000000"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Add a button",
		      "info": "Visible only if a link is chosen"
        },
        {
          "type": "color",
          "id": "cta_color",
          "label": "Button text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "cta_background",
          "label": "Button background",
          "default": "#000000"
        },
    		{
          "type": "select",
          "id": "caption_horizontal",
          "label": "Caption horizontal position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "range",
          "id": "caption_vertical",
          "min": 5,
          "max": 60,
          "step": 5,
          "unit": "%",
          "label": "Caption vertical position",
          "default": 50
        },
  	    {
          "type": "color",
          "id": "caption_background",
          "label": "Caption background",
          "default": "transparent"
        },
  	    {
          "type":      "range",
          "id":        "caption_background_opacity",
          "min":       10,
          "max":       100,
          "step":      10,
          "unit":      "%",
          "label":     "Caption background opacity",
          "default":   20
        }
      ]
    }
  ],
  "settings": [
      {
        "type": "select",
        "id": "slideshow",
        "label": "Slideshow style",
        "options": [
          {
            "value": "content",
            "label": "Content"
          },
          {
            "value": "background",
            "label": "Background"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "info": "Content Slideshow features linked images and resizes with the browser width. Background slideshows will show at 100% of the browser height, some left-right image cropping is to be expected."
      },
      {
        "type": "range",
        "id": "slider_speed",
        "min": 3,
        "max": 10,
        "step": 1,
        "label": "Slideshow speed (seconds)",
        "default": 5
      },
	    {
        "type": "header",
        "content": "Slideshow caption text"
      },
      {
        "type": "range",
        "id": "slide_heading_size",
        "min": 12,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Heading size",
        "default": 20
      },
      {
        "type": "select",
        "id": "slide_heading_weight",
        "label": "Heading weight",
		    "default": "700",
        "options": [
          {
            "value": "400",
            "label": "Normal"
          },
          {
            "value": "300",
            "label": "Light"
          },
          {
            "value": "700",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "range",
        "id": "subheading_size",
        "min": 12,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Subheading size",
        "default": 13
      },
      {
        "type": "range",
        "id": "cta_size",
        "min": 12,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Button text size",
        "default": 20
      },
      {
        "type": "select",
        "id": "cta_weight",
        "label": "Button text weight",
		    "default": "400",
        "options": [
          {
            "value": "400",
            "label": "Normal"
          },
          {
            "value": "300",
            "label": "Light"
          },
          {
            "value": "700",
            "label": "Bold"
          }
        ]
      }
  ],
  "presets": [{
    "name": "Slideshow",
    "category": "Image",
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}

<script type="text/javascript" charset="utf-8">
  
// A $( document ).ready() block.
$(document).ready(function() {
  

$('#slide--1478800373635-1').css('margin-right', '');


});  
</script>
